# Godot Addon Requirements
# Format: <addon_directory_name> <repository_url> [branch]
# Lines starting with # are comments
3d_player_controller https://github.com/kirbycope/godot-3d-player-controller.git main
virtual_controller https://github.com/kirbycope/godot-virtual-controller.git main
